# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.out
*.app

# leftover files
/sandbox
*.bak
/scripts_steps/*.U.CC.*
/scripts_merge/*.orig
/scripts_merge/*.manual

